body {
  width: 500px;
  height: 500px;
  padding: 20px;
}
.inputnewname {
  margin-left: 25px;
  width: 200px;
}
li {
  display: inline;
  list-style: none;
  margin: 5px;
}

li {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  border: #999 solid 2px;
  font-weight: bold;
  background-color: #999;
  border-radius: 30px;
}

.selected {
  color: white;
  background-color: #2196F3 !important;
  border-radius: 30px;
  border-color: white;
}

section {
  padding: 10px;
  margin-bottom: 10px;
  border: #ff681d solid 2px;
  border-radius: 4px;
}

#first-section {
  margin-top: 30px;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: #018aff;
  color: white;
  font-size: 20px;
  padding: 5px;
}


/* ---- loader ---- */
.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}
.loader h1 {
  padding: 45%;
}
.loader-spin {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle; }
.loader-circle {
  font-size: 40px;
  border-radius: 50px;
  border: 6px solid rgba(0, 0, 0, 0.4); }
.loader-circle:after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border: 6px solid transparent;
  border-top-color: white;
  border-radius: 50px;
  animation: spin 1s linear infinite;
  /* quelle anim - temps d'anim - type d'anim - nombre d'anim */
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite; }
@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }