<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body  ng-app="datapizz-extension" ng-controller="ExtensionCtrl as ctrl">
    <header>
      Datapizz - Ajouter un article
    </header>
    <section id="first-section">
      <input type="text" class="inputnewname" ng-model="ctrl.url"/>
      <input type="text" class="inputnewname" ng-model="ctrl.title" placeholder="Titre de l'article"/>
    </section>
    <section>
      <input placeholder="Nom du nouveau tag" ng-model="ctrl.nameNewTag" />
      <button ng-click="ctrl.addTag()">Nouveau tag</button>
    </section>
    <section>
      <h3>Tags à associer</h3>
      <ul class="">
        <li class="tag" ng-repeat="tag in ctrl.tags track by $index | filter:search:strict" ng-click="ctrl.selectItem($index)" ng-class="{selected: tag.selected}">{{tag.value}}</li>
      </ul>
    </section>
    <div>
      <button ng-click="ctrl.save()">Sauvegarder</button>
      <button ng-click="ctrl.goApp()">Aller sur l'app</button>
    </div>
      <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- AngularJS -->
    <script src="librairies/angular.js"></script>
    <!-- Firebase -->
    <script src="librairies/firebase.js"></script>
    <!-- AngularFire -->
    <script src="librairies/angularfire.min.js"></script>
    <!-- Lodash -->
    <script src="librairies/lodash.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="scripts/constant.js"></script>
    <!-- build:js scripts/popup.js -->
    <script src="scripts/popup.js"></script>
    <!-- endbuild -->
  </body>
</html>
